{% extends 'base.html' %}
{% load static %}

{% block meta %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<title>st0ry8</title>
{% endblock meta %}

{% block content %}
  <input id="keyword" placeholder="Masukkan kata kunci">
  <ol id="daftar_isi">
  
  </ol>
  <script type ="text/javascript">
  $("#keyword").keyup( function(){
      var ketikan = $("#keyword").val();
      //console.log(ketikan);
      
      //membaca teknik ajax
      $.ajax({
          url: "/data?q=" + ketikan,  
          success: function(data){
          var hasil = "/data?q=" + ketikan;
          console.log(hasil);
//            console.log(data);
            var arr_items = data.items;
//            console.log(arr_items);
           $("#daftar_isi").empty();
            for (i = 0; i < arr_items.length; i++) {
                var judul = arr_items[i].volumeInfo.title;
                var gambar = arr_items[i].volumeInfo.imageLinks.smallThumbnail;
                //console.log(judul);
                $("#daftar_isi").append("<li>" + judul + "<br><img src=" + gambar +">" +"</li>");
              } 
          }
      });   
  });
  </script>
{% endblock content %}
